{% extends 'basic.html' %}
{% block title %}Upload Article{% endblock %}
{% block body %}
{% load static %}
 <style type="text/css">
    tr{
        height: 30px;
    }
 </style>
<h2 style="margin-left: 23%;padding-top: 2%;font-family: 'Lemonada', cursive;color: red">About Us</h2>
    <div class="row" >
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="padding-top: 1%">
        <p style="font-weight: bold">Project's Brief Details:  A content management system built on Django.  Similar to WordPress, users can use an admin panel to manage blog articles, form data, and different web pages.</p>
        <div>
            <table  border="0" style="margin-left: 5%">
                <tr><td colspan="2" style="color: darkslateblue"><h3>Team Details</h3></td></tr>

                    <tr><td colspan="2" style="color: red">Project Name:  "Django CMS"</td></tr>

                    <tr><td colspan="2" style="color: red">Team Members Details:</td></tr>
                     <tr><td>Member 1 Name: </td>  <td>Ronald Wilbourne</td></tr>
                    <tr><td>Member 1 Email:</td>   <td>borronald5@gmail.com</td></tr>
                    <tr><td>Member 1 Contact:</td>  <td>4128011069</td></tr>
                            <tr><td></td></tr>
                    <tr><td>Member 2 Name:</td>    <td> harshwardhan kulkarni</td></tr>
                    <tr><td>Member 2 Email: </td>    <td>programelover5@gmail.com</td></tr>
                    <tr><td>Member 2 Contact:</td>   <td>9665118464</td></tr>
                            <tr><td></td></tr>
                    <tr><td>Member 3 Name: </td> <td> Rakshith Kumar M R</td></tr>
                    <tr><td>Member 3 Email:</td>    <td> rakshithkumar311@gmail.com</td></tr>
                    <tr><td>Member 3 Contact:</td>   <td> 9740696041</td></tr>
                            <tr><td></td></tr>
                    <tr><td>Member 4 Name:</td>   <td>ALEENA JOLLY</td></tr>
                    <tr><td>Member 4 Email:</td>     <td> aleenajolly3@gmail.com</td></tr>
                    <tr><td>Member 4 Contact:</td>   <td>9074979582</td>
                            <tr><td></td></tr>
                    <tr><td>Member 5 Name:</td>   <td>Rahul Agrawal</td>
                    <tr><td>Member 5 Email:</td>   <td> rahulk.agrawal01@gmail.com</td>
                    <tr><td>Member 5 Contact:</td>  <td> 7014237669</td></tr>
                            <tr><td></td></tr>
                    <tr><td>Member 6 Name:</td>   <td>Rahul Bhowmik</td></tr>
                    <tr><td>Member 6 Email:</td>    <td>  rahul.bhowmik2205@gmail.com</td></tr>
                    <tr><td>Member 6 Contact:</td>  <td>8981855809</td></tr>
            </table>
        </div>
    </div>
    </div>
{% endblock %}