{% extends 'basic.html' %}
{% block title %}Upload Article{% endblock %}
{% block body %}
{% load static %}
 {% if mess %}
    <script>
        Swal.fire({
             icon: 'error',
             title: 'Oops...',
             text: '{{ mess }}',
        })
    </script>
 {% endif %}
 {% if messages %}
    {% for x in messages %}
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title:'{{ x }}',
            showConfirmButton: false,
            timer: 1500
            })
    </script>
    {% endfor %}
{% endif %}
        <h2 style="margin-left: 13%;padding-top: 2%;font-family: 'Lemonada', cursive;color: red">Update Your Article</h2>
    {% if data %}

    <form method="post" action="/update_article/{{ data.id }}/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container my-3" style="padding-top: 1%">
        <div class="form-group" >
            <label for="exampleInputEmail1" style="font-weight: bold">Title :</label>
            <input type="text" class="form-control" id="exampleInputEmail1"  name="title" value="{{ data.title }}" required>
        </div>
        <div class="form-group" >
            <label for="exampleInputEmail1" style="font-weight: bold">Image : ( Associated With Your Article)</label>
            <input type="file" class="form-control" id="exampleInputEmail1"  name="image" value="{{ data.img.url }}" required>
        </div>
        <div class="form-group" >
            <label for="exampleInputEmail1" style="font-weight: bold;align-items: center">Decscription:</label>
            <textarea class="article-input" id="article-input" type="text" name="desc">{{ data.desc }}</textarea>
        </div>
        <div>
        <button type="submit" class="btn btn-primary">Update</button>
        </div>
        </div>
    </form>

{% endif %}
{% endblock %}